
  
  <% if flash[:created] %>
    <div class="alert alert-primary" role="alert">
      <%= flash[:created] %>
    </div>
  <% elsif flash[:updated] %>
   <div class="alert alert-primary" role="alert">
      <%= flash[:updated] %>
    </div>

  <% end %>

  <p><strong>Title:</strong> <%= @book.title %></p>
  <p><strong>Body:</strong> <%= @book.body %></p>

  <p> <%= link_to "Edit", edit_book_path(params[:id]) %> | <%= link_to "Back", books_path %>  </p>
